<div class="jumbotron">
  <div class="container">
    <h1>Tracey Hollingsworth on Rails</h1>
    <p>Welcome to the app!</p>

    <div class="progress">
       <div class="progress-bar" style="width: 40%"></div>
       <div class="progress-bar progress-bar-success" style="width: 20%"></div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 10%"></div>
        <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
        <div class="progress-bar progress-bar-info" style="width: 20%"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Stuff</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Connect with Facebook</h2>
      <p>Signup or login to this app with your Facebook account. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et vel consequuntur omnis sunt provident atque. Eveniet mollitia, rerum dolores ea! Odit harum, alias. Saepe fugit veritatis molestias labore ab velit.</p>
    </div>
    <div class="col-md-4">
      <h2>Creat Posts</h2>
      <p>Start posting with 200 characters or less. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ab qui nisi optio illum eaque doloribus. Neque accusantium aperiam, aliquam esse consequatur consectetur quo minima harum necessitatibus ipsum. Distinctio, earum.</p>
    </div>
    <div class="col-md-4">
      <h2>Share with Friends</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime eos quibusdam enim numquam placeat sunt reiciendis, quae nihil soluta nesciunt odit atque, harum animi praesentium excepturi. Sequi, facilis, bum.</p>
    </div>
  </div>

</div>

